<header class="header__container">
	<nav class="header__navbar">
		<div class="navbar__brand">
			<a [routerLink]="['/']">
				<img src="../../../../assets/images/psn_logo.png" alt="" />
			</a>
		</div>
		<div class="navbar__collapse">
			<div class="navbar__items">
				<ul>
					<li>
						<a
							href="https://www.linkedin.com/in/gabriel-f-8b3088251/"
							target="_blank"
							rel="noopener noreferrer"
							>Linkedin</a
						>
					</li>
					<li>
						<a
							href="https://github.com/GFSenpai"
							target="_blank"
							rel="noopener noreferrer"
							>Github</a
						>
					</li>
					<li>
						<a
							href="https://gfsenpai.github.io/Curriculum-vitae/"
							target="_blank"
							rel="noopener noreferrer"
							>Portfólio</a
						>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
