<footer class="footer__container">
	<div class="footer__brand">
		<a [routerLink]="['/']">
			<img src="../../../../assets/images/ps_logo.png" alt="" />
		</a>
	</div>
	<div class="footer__items">
		<ul>
			<li>
				<a
					href="https://www.linkedin.com/in/gabriel-f-8b3088251/"
					target="_blank"
					rel="noopener noreferrer"
					>Linkedin</a
				>
			</li>
			<li>
				<a
					href="https://github.com/GFSenpai"
					target="_blank"
					rel="noopener noreferrer"
					>Github</a
				>
			</li>
			<li>
				<a
					href="https://gfsenpai.github.io/Curriculum-vitae/"
					target="_blank"
					rel="noopener noreferrer"
					>Portfólio</a
				>
			</li>
		</ul>
	</div>
</footer>
